<!-- filepath: /Users/gavingarcia/Desktop/bootcamp/UCI-VIRT-FSF-PT-06-2023-U-LOLC/14-MVC/tech-blog/views/homepage.handlebars -->
<h2>Welcome to the Tech Blog</h2>
<p>Here you can find the latest posts from our community.</p>